/* -----------navbar---------------------------------- */
.js-nav-bg {
    background: #fff;
    background: linear-gradient(90deg, rgba(60, 92, 231, 0.603))0%, rgba(243, 241, 247, 1) 50%, rgba(148, 187, 233, 0.639093137254902) 100%;
}
.js-nav-text{
    color: #0e0d0d !important;
    font-weight: 300 !important;
}

/* -------------------background------------------- */
.bg-js {
    background: #039BE5;
}

.js-bg {
    background: #ffffff;
}

.js-rightbar-bg {
    background: #e1ebf0;
}

.js-img-box{
    background: #1e5dd3;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}

.js-img-box{
    text-align: center;

}

.js-dashboard-side {
    background-color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;

}

.js-dashboard-side-text {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    font-size: 15px;

}

.js-box-img{
    display: block;
    position: absolute;
    right: 60px;
    top: -25px;
    width: 13%;
    z-index: 1;
}

.js-dashboard-side-text-heding {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: -20px;

}
/* ---------------side bar--------------------------- */
.js-sidebar {
    background-color:#2b2e31;
}

.js-sidebar-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.js-sidebar a.nav-link:hover {
    background-color:#007bff;
    border-radius: 5px;
}
.js-sidebar i.nav-icon::before {
    color:#efeff2 ;
}
.js-sidebar a.nav-link:active {
    background-color:#007bff;
    border-radius: 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #007bff;
}
.js-sidebar-text p {
    color: rgb(255, 254, 254);
}

.js-sidebar-heding {
    color: rgb(255, 254, 254);
}
/* ---------------dash board---------------------- */
.js-box-text{
    color: #fafafc;
}
.js-dash-h {
    font-family: 'Shippori Mincho', serif;
}

.js-dash-link a span {
    font-family: 'Crimson Text', serif;
    color: #3b3939;
}

.js-box-bg-2 {
    background-color: #48b0e4;
    border-radius: 30px;
}

.js-box-bg-1 {
    background-color: #48b0e4;
    border-radius: 30px;
}

.js-box-bg-3 {
    background-color: #48b0e4;
    border-radius: 30px;
}

.js-box-bg-4 {
    background-color: #48b0e4;
    border-radius: 30px;
}

.js-box-bg-5 {
    background-color: #48b0e4;
    border-radius: 30px;
}


/*----------------------- clock---------------------- */

.clock {
    /* position: absolute; */
    transform: translateX(0) translateY(0);
    color: #00030c;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 20px !important;

}
/* --------------calander-------------------------- */
[data-theme] .header .text{
    background-color: #268dfc;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

[data-theme] .table .row .cell.active span {
    background-color: #4fa1f8;
    border-radius: 20px;

}

.calendar .header .text {
    background-color: #268dfc;
    padding: 0px;
    transform: rotateX(90deg);
    transform-origin: bottom;
    backface-visibility: hidden;
    transition: .4s ease-in-out 0s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(0, 0, 0, .2);
    opacity: 0
}

.table .row.head {
    color: #268dfc;
    text-transform: uppercase
}

/* -----------type icon------------------------- */
.btntype{
    border-radius: 5px;
    height: 70px;
    position: relative;
    width: auto;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    text-align: center;
    color: #1b1a19;
    border: #039BE5 solid 1px;
  }
  
  .btntype:hover{
    background: #039BE5;
    color:#f2f5f7;
  }
  
  .btntype:focus{
      background: #039BE5;
      color: #fff;
  }
/* --------------selectbox---------------------------------- */
.js-select-box{
    border-radius: 5px;
    height: 70px;
    color: #2c78e9;
    border: #039BE5 solid 1px;
  }
  .js-select-box:hover{
    border-radius: 5px;
    height: 70px;
    color: #2c78e9;
    border: #0f0f0f solid 1px;
    /* background: #039BE5; */
  }
  /* ---------------button--------------------------------- */
  .btn-js{
    background: #007bff;
    color: #fff;
  }
  .btn-js:hover{
    background: #fff;
    color: #007bff;
    border: #007bff solid 1px;
  }

  a.btn-js{
    background: #007bff;
    color: #fff;
  }
  a.btn-js:hover{
    background: #fff;
    color: #007bff;
    border: #007bff solid 1px;
  }
  /* -------------table--------------------------------- */
  .js-tbl-header{
    background: rgb(184,221,246);
    background: linear-gradient(90deg, rgba(184,221,246,1) 0%, rgba(242,242,242,1) 35%, rgba(184,222,242,1) 100%);

    
    }
  
    .js-tbl-header th:first-child{ border-top-left-radius: 5px; }
    .js-tbl-header th:first-child{ border-bottom-left-radius: 5px; }
    .js-tbl-header th:last-child { border-top-right-radius: 5px; }
    .js-tbl-header th:last-child { border-bottom-right-radius: 5px; }

/* ------------------------------------------- */