/* -----------navbar---------------------------------- */

.js-nav-bg {
    background: #1d6af0;
    background: linear-gradient(90deg, rgba(28, 66, 235, 0.603))0%, rgba(243, 241, 247, 1) 50%, rgba(148, 187, 233, 0.639093137254902) 100%;
}

.js-nav-text {
    color: #fcfafa !important;
    font-weight: 300 !important;
}

.js-catalog-box {
    background: #ffffff;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

/* -------------------background------------------- */

.bg-js {
    background: #039BE5;
}

.js-rightbar-bg {
    background: #e1ebf0;
}

.js-img-box {
    background: #1f8afc;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
}

.js-dashboard-side {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    border-radius: 15px;
}

.js-dashboard-side-text {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: -10px;
}

.js-box-img {
    display: block;
    position: absolute;
    right: 70px;
    top: -25px;
    width: 12%;
    z-index: 1;
}

.js-dashboard-side-text-heding {
    color: #ffffff;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
}


/* ---------------side bar--------------------------- */

.js-sidebar {
    background-color: #2b2e31;
}

.js-sidebar-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.js-sidebar a.nav-link:hover {
    background-color: #007bff;
    border-radius: 5px;
}

.js-sidebar i.nav-icon::before {
    color: #efeff2;
}

.js-sidebar a.nav-link:active {
    background-color: #007bff;
    border-radius: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #007bff;
}

.js-sidebar-text p {
    color: rgb(255, 254, 254);
}

.js-sidebar-heding {
    color: rgb(255, 254, 254);
}


/* ---------------dash board---------------------- */

.js-box-text {
    color: #1c1c1d;
    margin-left: 20px;
}

.js-box-text p {
    color: #1a1b1d;
    margin-top: -10px;
}

.js-dash-h h5 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.js-dash-link-btn {
    border-radius: 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: #157cdd solid 1px !important;
    background-color: #ffffff;
}

.js-dash-link-btn:hover {
    border: #121313 solid 1px !important;
}

.js-dash-link-btn:hover span {
    color: rgb(65, 153, 236);
    transition: 0.25s;
}

.js-dash-link a span {
    font-family: 'Roboto', sans-serif;
    color: #1a1b1d;
    font-size: 13px;
    font-weight: 600;
}

.js-box-bg-2 {
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-box-bg-1 {
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-box-bg-3 {
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-box-bg-4 {
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-box-bg-5 {
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}


/*----------------------- clock---------------------- */

.clock {
    /* position: absolute; */
    transform: translateX(0) translateY(0);
    color: #00030c;
    font-size: 25px;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 20px !important;
}


/* --------------calander-------------------------- */

[data-theme] .header .text {
    background-color: #268dfc;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

[data-theme] .table .row .cell.active span {
    background-color: #4fa1f8;
    border-radius: 20px;
}

.calendar .header .text {
    background-color: #268dfc;
    padding: 0px;
    transform: rotateX(90deg);
    transform-origin: bottom;
    backface-visibility: hidden;
    transition: .4s ease-in-out 0s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(0, 0, 0, .2);
    opacity: 0
}

.table .row.head {
    color: #268dfc;
    text-transform: uppercase
}


/* -----------type icon------------------------- */

.btntype {
    border-radius: 5px;
    height: 65px;
    position: relative;
    width: auto;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    text-align: center;
    color: #1b1a19;
    border: #039BE5 solid 1px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    min-width: 80px !important;
    max-width: 80px !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}

.btntype:hover {
    background: #ffffff;
    color: #070707;
    border: #070707 solid 1px;
}

.btntype:focus {
    background: #e0f4ff;
    color: rgb(14, 13, 13);
}


/* --------------selectbox---------------------------------- */

.js-select-box {
    border-radius: 5px;
    height: auto;
    color: #2c78e9;
    border: #039BE5 solid 1px;
    /* padding-right: 5px; */

}

.js-select-box:hover {
    border-radius: 5px;
    height: auto;
    color: #2c78e9;
    border: #0f0f0f solid 1px;
    /* background: #039BE5; */
}


/* ---------------button--------------------------------- */
.search-feild-btn{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    color: #060913;
    /* padding:0; */
}
.btn-js {
    background: #007bff;
    color: #fff;
}

.btn-js:hover {
    background: #fff;
    color: #007bff;
    border: #007bff solid 1px;
}

a.btn-js {
    background: #007bff;
    color: #fff;
}

a.btn-js:hover {
    background: #fff;
    color: #007bff;
    border: #007bff solid 1px;
}


/* -------------table--------------------------------- */

.js-tbl-header {
    background: #f0f2fa;
}

/* .js-tbl-header th:first-child {
    border: unset;
}

.js-tbl-header th:last-child {
    border: unset;
} */

.js-tbl-header th:first-child {
    border-left: #007bff solid 1px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    
}

.js-tbl-header th:last-child {
    border-right: #007bff solid 1px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
   

}
.js-tbl-header th{
    border-top: #007bff solid 1px !important;
    border-bottom: #007bff solid 1px !important;
   
}


tbody:before {
    content: "~";
    display: block;
    line-height: 10px;
    text-indent: -99999px;
}


/* ----------------chart--------------------------- */

.js-chart {
    border-radius: 20px;
}


/* -----------------------js---------------------- */

.js-text-light {
    color: #fbfcfd;
}

.js-text-dark {
    color: #0c0c0c;
}

.js-colour:hover {
    color: #080808;
}

.js-bg {
    background: #ffffff;
}

.js-bg {
    background: #ffffff;
}

.js-roboto {
    font-family: 'Roboto', sans-serif;
}

.js-archivo {
    font-family: 'Archivo', sans-serif;
}

.js-border {
    border: #039BE5 solid 1px;
}

.js-border-radius-1 {
    border: #039BE5 solid 1px;
    border-radius: 5px;
}

.js-border-radius-2 {
    border: #039BE5 solid 1px;
    border-radius: 10px;
}

.js.border-radius-3 {
    border: #039BE5 solid 1px;
    border-radius: 15px;
}

.js.border-radius-4 {
    border: #039BE5 solid 1px;
    border-radius: 20px;
}

.js-ml-10 {
    margin-left: 10px;
}

.js-ml-5 {
    margin-left: 5px;
}

.js-mr-10 {
    margin-right: 10px;
}

.js-mr-5 {
    margin-right: 5px;
}

.js-mt-10 {
    margin-top: 10px;
}

.js-mt-5 {
    margin-top: 5px;
}

.js-mb-10 {
    margin-bottom: 10px;
}

.js-mb-5 {
    margin-bottom: 5px;
}

.js-pl-10 {
    padding-left: 10px;
}

.js-pl-5 {
    padding-left: 5px;
}

.js-pr-10 {
    padding-right: 10px;
}

.js-pr-5 {
    padding-right: 5px;
}

.js-pt-10 {
    padding-top: 10px;
}

.js-pt-5 {
    padding-top: 5px;
}

.js-pb-10 {
    padding-bottom: 10px;
}

.js-pb-5 {
    padding-bottom: 5px;
}

/* -------------------survey------------ */

.js-survey-box-text {
    color: #ffffff;
}

.js-survey-box-text p {
    color: #fdfdff;
    margin-top: -10px;
}


.js-survey-box1 {
    background: #16b301;
    font-family: 'Roboto', sans-serif;
    color: #f7f1f1;
    border-radius: 10px;
}

.js-survey-box1 h1 {
    font-weight: 900;
    font-family: 'Archivo', sans-serif;
}

.js-survey-box2 h1 {
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
}

.js-survey-box2 {
    background: #0091d5;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px;
}

.js-survey-box1 h1 {
    animation: blinker 3s infinite;
}

@keyframes blinker {
    0% {
        color: transparent;
    }
    49% {
        color: rgb(252, 250, 250);
    }
    60% {
        color: transparent;
    }
    100% {
        color: rgb(252, 250, 250);
    }
}

.js-survey-box-6 {
    background-color: #0091d5;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-survey-box-7 {
    background-color: #4cb5f5;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-survey-box-3 {
    background-color: #b3c100;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-survey-box-4 {
    background-color: #4cb5f5;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.js-survey-box-5 {
    background-color: #dbae58;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* -------notificetion */
.card-notify{
    border-radius: 10px !important;
}
.card-notify-header1{
    background-color: #ffffff;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-family: 'Roboto', sans-serif;
    color: #1a1b1d;
    font-size: 8px;
   
}
.card-notify-header2{
    background-color: #ffffff;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-family: 'Roboto', sans-serif;
    color: #1a1b1d;
    font-size: 8px;

}
.card-notify i{
    color: #0f0f0f;
}

.category-card{
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    line-height: 25px;

}
.category-card-left{
    background-color: #eff8fc;
    color: #552306;
    text-align: center;
}